# 2022 Qualifying Stats

In [86]:
import pandas as pd
import sqlite3

con = sqlite3.connect("../data/f1data.sqlite")

DRIVER_PAIRS = {
  "HAM": "RUS",
  "VER": "PER",
  "SAI": "LEC",
  "NOR": "RIC",
  "ALO": "OCO",
  "GAS": "TSU",
  "VET": "STR",
  "LAT": "ALB",
  "BOT": "ZHO",
  "MSC": "MAG",
}

In [87]:
query = """
SELECT
  r.date,
  r.round,
  d.code,
  d.forename || ' ' || d.surname AS name,
  q.q1 AS q1,
  '00:0' || CASE
    WHEN q.q3 IS NULL AND q.q2 IS NULL THEN q1
    WHEN q.q3 IS NULL THEN q2
    ELSE q3
  END AS final_lap
FROM qualifying AS q
JOIN races r on q.raceId = r.raceId
JOIN drivers d on q.driverId = d.driverId
WHERE r.year = 2022
"""

df = pd.read_sql(
  query,
  con,
  index_col="date",
  parse_dates="date"
)


df["final_lap"] = pd.to_timedelta(df["final_lap"], errors="coerce")

date
2022-03-20   0 days 00:01:30.558000
2022-03-20   0 days 00:01:30.681000
2022-03-20   0 days 00:01:30.687000
2022-03-20   0 days 00:01:30.921000
2022-03-20   0 days 00:01:31.238000
Name: final_lap, dtype: timedelta64[ns]

## Average Qualifying Advantage over Teammate

In [88]:
def test(x):
  comparisons = []
  for d1, d2 in DRIVER_PAIRS.items():
    diff = x[x["code"] == d1]["final_lap"] - x[x["code"] == d2]["final_lap"]
    comparisons.append(
      ( f"{d1} x {d2}", diff )
    )

  return pd.DataFrame(comparisons, columns=["code", "diff"])

df.groupby("round").apply(test)

              code                                               diff
round
1     0  HAM x RUS  date
2022-03-20   -1 days +23:59:59.022000
Nam...
      1  VER x PER  date
2022-03-20   -1 days +23:59:59.760000
Nam...
      2  SAI x LEC  date
2022-03-20   0 days 00:00:00.129000
Name:...
      3  NOR x RIC  date
2022-03-20   -1 days +23:59:59.063000
Nam...
      4  ALO x OCO  date
2022-03-20   0 days 00:00:00.413000
Name:...
      5  GAS x TSU  date
2022-03-20   -1 days +23:59:59.588000
Nam...
      6  VET x STR  date
2022-03-20   NaT
Name: final_lap, dtype: ...
      7  LAT x ALB  date
2022-03-20   0 days 00:00:00.970000
Name:...
      8  BOT x ZHO  date
2022-03-20   -1 days +23:59:58.017000
Nam...
      9  MSC x MAG  date
2022-03-20   0 days 00:00:00.190000
Name:...
2     0  HAM x RUS  date
2022-03-27   0 days 00:00:01.239000
Name:...
      1  VER x PER  date
2022-03-27   0 days 00:00:00.261000
Name:...
      2  SAI x LEC  date
2022-03-27   0 days 00:00:00.177000
Name:...
      3  NOR x RIC  date
2022-03-27   -1 days +23:59:59.878000
Nam...
      4  ALO x OCO  date
2022-03-27   0 days 00:00:00.079000
Name:...
      5  GAS x TSU  date
2022-03-27   NaT
Name: final_lap, dtype: ...
      6  VET x STR  date
2022-03-27   NaT
Name: final_lap, dtype: ...
      7  LAT x ALB  date
2022-03-27   0 days 00:00:01.325000
Name:...
      8  BOT x ZHO  date
2022-03-27   -1 days +23:59:59.364000
Nam...
      9  MSC x MAG  date
2022-03-27   0 days 00:00:00.332000
Name:...
3     0  HAM x RUS  date
2022-04-10   -1 days +23:59:59.892000
Nam...
      1  VER x PER  date
2022-04-10   -1 days +23:59:59.914000
Nam...
      2  SAI x LEC  date
2022-04-10   0 days 00:00:01.540000
Name:...
      3  NOR x RIC  date
2022-04-10   -1 days +23:59:59.671000
Nam...
      4  ALO x OCO  date
2022-04-10   NaT
Name: final_lap, dtype: ...
      5  GAS x TSU  date
2022-04-10   NaT
Name: final_lap, dtype: ...
      6  VET x STR  date
2022-04-10   NaT
Name: final_lap, dtype: ...
      7  LAT x ALB  date
2022-04-10   NaT
Name: final_lap, dtype: ...
      8  BOT x ZHO  date
2022-04-10   NaT
Name: final_lap, dtype: ...
      9  MSC x MAG  date
2022-04-10   NaT
Name: final_lap, dtype: ...
4     0  HAM x RUS  date
2022-04-24   NaT
Name: final_lap, dtype: ...
      1  VER x PER  date
2022-04-24   -1 days +23:59:58.191000
Nam...
      2  SAI x LEC  date
2022-04-24   NaT
Name: final_lap, dtype: ...
      3  NOR x RIC  date
2022-04-24   -1 days +23:59:59.389000
Nam...
      4  ALO x OCO  date
2022-04-24   NaT
Name: final_lap, dtype: ...
      5  GAS x TSU  date
2022-04-24   NaT
Name: final_lap, dtype: ...
      6  VET x STR  date
2022-04-24   NaT
Name: final_lap, dtype: ...
      7  LAT x ALB  date
2022-04-24   NaT
Name: final_lap, dtype: ...
      8  BOT x ZHO  date
2022-04-24   NaT
Name: final_lap, dtype: ...
      9  MSC x MAG  date
2022-04-24   NaT
Name: final_lap, dtype: ...
5     0  HAM x RUS  date
2022-05-08   NaT
Name: final_lap, dtype: ...
      1  VER x PER  date
2022-05-08   -1 days +23:59:59.955000
Nam...
      2  SAI x LEC  date
2022-05-08   0 days 00:00:00.190000
Name:...
      3  NOR x RIC  date
2022-05-08   NaT
Name: final_lap, dtype: ...
      4  ALO x OCO  date
2022-05-08   NaT
Name: final_lap, dtype: ...
      5  GAS x TSU  date
2022-05-08   -1 days +23:59:59.758000
Nam...
      6  VET x STR  date
2022-05-08   NaT
Name: final_lap, dtype: ...
      7  LAT x ALB  date
2022-05-08   NaT
Name: final_lap, dtype: ...
      8  BOT x ZHO  date
2022-05-08   NaT
Name: final_lap, dtype: ...
      9  MSC x MAG  date
2022-05-08   NaT
Name: final_lap, dtype: ...