# WDC - World Driver Champions

In [70]:
import sqlite3

import pandas as pd

con = sqlite3.connect("../data/f1data.sqlite")

In [71]:
query = """
SELECT
  r.raceId AS race_id,
  d.driverId AS driver_id,
  MAX(r.round) AS last_round,
  r.year,
  d.forename || ' ' || d.surname AS name,
  d.code,
  MAX(ds.points) AS points
FROM races AS r
JOIN driver_standings ds on r.raceId = ds.raceId
JOIN drivers d on ds.driverId = d.driverId
WHERE r.year <> 2022
GROUP BY r.year
"""

df = pd.read_sql(query, con)
df.tail(10)

    race_id  driver_id  last_round  year              name code  points
62      879         20          20  2012  Sebastian Vettel  VET   281.0
63      899         20          19  2013  Sebastian Vettel  VET   397.0
64      918          1          19  2014    Lewis Hamilton  HAM   384.0
65      945          1          19  2015    Lewis Hamilton  HAM   381.0
66      968          3          21  2016      Nico Rosberg  ROS   385.0
67      988          1          20  2017    Lewis Hamilton  HAM   363.0
68     1009          1          21  2018    Lewis Hamilton  HAM   408.0
69     1030          1          21  2019    Lewis Hamilton  HAM   413.0
70     1047          1          17  2020    Lewis Hamilton  HAM   347.0
71     1073        830          22  2021    Max Verstappen  VER   395.5

In [72]:
df.groupby("name")["driver_id"].count().sort_values(ascending=False)

name
Michael Schumacher    7
Lewis Hamilton        7
Juan Fangio           5
Alain Prost           4
Sebastian Vettel      4
Niki Lauda            3
Ayrton Senna          3
Jack Brabham          3
Jackie Stewart        3
Nelson Piquet         3
Jim Clark             2
Mika Häkkinen         2
Emerson Fittipaldi    2
Alberto Ascari        2
Graham Hill           2
Fernando Alonso       2
Max Verstappen        1
Nigel Mansell         1
Nico Rosberg          1
Nino Farina           1
Mike Hawthorn         1
Phil Hill             1
Denny Hulme           1
Keke Rosberg          1
Mario Andretti        1
Kimi Räikkönen        1
Damon Hill            1
Alan Jones            1
Jody Scheckter        1
Jochen Rindt          1
Jenson Button         1
James Hunt            1
Jacques Villeneuve    1
John Surtees          1
Name: driver_id, dtype: int64

# WCC - World Constructor Champions

In [73]:
query = """
SELECT
  r.raceId as race_id,
  c.constructorId as constructor_id,
  MAX(r.round) AS last_round,
  r.year,
  c.name,
  MAX(cs.points) AS points
FROM races AS r
JOIN constructor_standings cs on r.raceId = cs.raceId
JOIN constructors c on cs.constructorId = c.constructorId
WHERE r.year <> 2022
GROUP BY r.year
"""

df = pd.read_sql(query, con)
df.tail(10)

    race_id  constructor_id  last_round  year      name  points
54      879               9          20  2012  Red Bull   460.0
55      899               9          19  2013  Red Bull   596.0
56      918             131          19  2014  Mercedes   701.0
57      945             131          19  2015  Mercedes   703.0
58      968             131          21  2016  Mercedes   765.0
59      988             131          20  2017  Mercedes   668.0
60     1009             131          21  2018  Mercedes   655.0
61     1030             131          21  2019  Mercedes   739.0
62     1047             131          17  2020  Mercedes   573.0
63     1073             131          22  2021  Mercedes   613.5

In [74]:
df.groupby("name")["constructor_id"].count().sort_values(ascending=False)

name
Ferrari          15
Williams          9
McLaren           9
Mercedes          8
Team Lotus        4
Red Bull          4
Renault           2
Brabham-Repco     2
Cooper-Climax     2
Lotus-Climax      2
Vanwall           1
Tyrrell           1
BRM               1
Benetton          1
Lotus-Ford        1
Brawn             1
Matra-Ford        1
Name: constructor_id, dtype: int64